{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sd">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            <h1>MobileIron - ACES</h1>
                            <h3>Azure AD & DEP registration flow</h2>
                                <p class="text-danger text-right">BETA
                            </h3>
                            <div class="row justify-content-center">
                                <div class="alert alert-success" role="alert">
                                    Device with serial: {{ deviceSerial }} sucessfully assigned to user {{ username }}!
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <a class="btn btn-secondary px-4" href="/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}