<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>ACES TEST</h1>
    <h2>AAD Name: {{ user.get("name") }}</h2>
    <h2>AAD Username: {{ user.get("username")}}</h2>

    {% if config.get("ENDPOINT") %}
      <li><a href='/graphcall'>Link only appears if user is logged in</a></li>
    {% endif %}

    <li><a href="/logout">Logout</a></li>
    <hr>
    <footer style="text-align: right">MIPS Tools: {{ version config.get("VERSION") }}</footer>
</body>
</html>

