{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sd">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            <h1>MobileIron - ACES</h1>
                                <h3>Azure AD & DEP registration flow</h2>
                                <p class="text-danger text-right">STG</h3>
                            <p class="text-muted text-center" >Sign In to your Microsoft account</p>
                            <div class="row justify-content-center">
                                <div class="d-flex ">
                                    <a href='{{ auth_url }}' class="btn btn-primary px-4 center">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}