<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <h1>ACES</h1>
    <h2>AAD Name: {{ user.get("name") }}</h2>
    <h2>AAD Username: {{ user.get("preferred_username")}}</h2>
    <h3>Device Serial Number: {{ deviceSerial }}</h3>
    <h4>Is this an iOS device? {{ iosdevice }}</h4>
    <h5>Device User Agent: {{ userAgent }}</h5>
    <h5>MI Cloud Space ID: {{ partition_id }}</h5>
    <h5>MI Cloud Device ID: {{ deviceid }}</h5>
    <h5>MI Cloud UserID: {{ cloud_user }}</h5>


    {% if config.get("ENDPOINT") %}
    <li><a href='/assignDevice'>Link only appears if user is logged on into MS using ANY iDP :)</a></li>
    {% endif %}

    <li><a href="/logout">Logout</a></li>
</body>

</html>